<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h1>Entries tagged - "{{ .Data.Term }}"</h1>
		{{ else }}
			<h1 class="page-title">All articles</h1>
		{{ end }}

		{{ with .Content }}{{ . }}{{ end }}

    
		<div class="recent-posts section">
            <div class="posts">
                {{- range .Data.Pages -}}
                {{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
                {{- else -}}
                <div class="post">
                    <div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
                    <a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> &mdash;
                    <span class="description">
                        {{ if isset .Params "description" }}
                        {{ .Description }}
                        {{ else }}
                        {{ .Summary }}&hellip;
                        {{ end }}
                    </span>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
